<section class="block container features">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatibus non
      rem nihil rerum error suscipit blanditiis obcaecati vitae, sapiente enim!
    </p>
  </header>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/sprite.svg#easy"></use>
      </svg>
      <h3 class="feature__heading">Super Easy to Use</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
        aliquam quibusdam est ipsam delectus ut rem, reprehenderit aspernatur
        praesentium, quos dolor adipisci possimus molestias. Tenetur vitae esse
        consequuntur beatae quia?
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/easy.webp 1x, images/easy@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/easy.jpg 1x, images/easy@2x.jpg 2x"
      />
      <img class="features__image" src="images/easy@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/sprite.svg#computer"></use>
      </svg>
      <h3 class="feature__heading">Simply fast websites</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
        aliquam quibusdam est ipsam delectus ut rem, reprehenderit aspernatur
        praesentium, quos dolor adipisci possimus molestias. Tenetur vitae esse
        consequuntur beatae quia?
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/fast.webp 1x, images/fast@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/fast.jpg 1x, images/fast@2x.jpg 2x"
      />
      <img class="features__image" src="images/fast@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
      <h3 class="feature__heading">WordPress made easy</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
        aliquam quibusdam est ipsam delectus ut rem, reprehenderit aspernatur
        praesentium, quos dolor adipisci possimus molestias. Tenetur vitae esse
        consequuntur beatae quia?
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/wordpress.webp 1x, images/wordpress@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/wordpress.jpg 1x, images/wordpress@2x.jpg 2x"
      />
      <img class="features__image" src="images/wordpress@2x.jpg" alt="" />
    </picture>
  </article>
  <article class="grid grid--1x2 feature">
    <div class="feature_content">
      <svg class="icon icon--primary icon--small">
        <use xlink:href="images/sprite.svg#wordpress"></use>
      </svg>
      <h3 class="feature__heading">24/7 Expert Support</h3>
      <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Debitis,
        aliquam quibusdam est ipsam delectus ut rem, reprehenderit aspernatur
        praesentium, quos dolor adipisci possimus molestias. Tenetur vitae esse
        consequuntur beatae quia?
      </p>
      <a href="" class="link-arrow">learn more</a>
    </div>
    <picture>
      <source
        type="image/webp"
        srcset="images/support.webp 1x, images/support@2x.webp 2x"
      />
      <source
        type="image/jpg"
        srcset="images/support.jpg 1x, images/support@2x.jpg 2x"
      />
      <img class="features__image" src="images/support@2x.jpg" alt="" />
    </picture>
  </article>
</section>
